IMMICH_VERSION=v2
IMMICH_BIND_IP=127.0.0.1
IMMICH_HTTP_PORT=2283
UPLOAD_LOCATION=/srv/data/media/immich/app
DB_DATA_LOCATION=/srv/data/media/immich/postgres
IMMICH_DB_PASSWORD=changeMeAlphanumericOnly
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
COUCHDB_USER=carlos
COUCHDB_PASSWORD=changeMe
NEXTCLOUD_VERSION=34-apache
NEXTCLOUD_DB_NAME=nextcloud
NEXTCLOUD_DB_USER=nextcloud
NEXTCLOUD_DB_PASSWORD=changeMeAlphanumericOnly
NEXTCLOUD_DB_ROOT_PASSWORD=changeMeAlphanumericOnly
NEXTCLOUD_ADMIN_USER=admin
NEXTCLOUD_ADMIN_PASSWORD=changeMeAlphanumericOnly
NEXTCLOUD_TRUSTED_DOMAINS=cloud.carlosjg.space localhost 127.0.0.1
NEXTCLOUD_TRUSTED_PROXIES=172.30.0.2
NEXTCLOUD_OVERWRITE_CLI_URL=https://cloud.carlosjg.space
NEXTCLOUD_HTML_DATA_LOCATION=/srv/data/media/nextcloud/html
NEXTCLOUD_DB_DATA_LOCATION=/srv/data/media/nextcloud/mariadb
NEXTCLOUD_PHP_MEMORY_LIMIT=512M
NEXTCLOUD_UPLOAD_LIMIT=4G
NGINX_BIND_IP=0.0.0.0
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_CLOUD_PORT=18080
BITWARDEN_VERSION=latest
BITWARDEN_DOMAIN=vault.carlosjg.space
BITWARDEN_DB_PASSWORD=changeMeAlphanumericOnly
BITWARDEN_INSTALLATION_ID=replaceMe
BITWARDEN_INSTALLATION_KEY=replaceMe
BITWARDEN_SMTP_PASSWORD=replaceMe
BITWARDEN_SMTP_FROM_EMAIL=vault@carlosjg.space
BITWARDEN_DISABLE_USER_REGISTRATION=false
BITWARDEN_DB_DATA_LOCATION=/srv/data/media/bitwarden/mariadb
BITWARDEN_DATA_LOCATION=/srv/data/media/bitwarden/data
INFISICAL_VERSION=v0.160.7
INFISICAL_ENCRYPTION_KEY=replaceWith32HexChars
INFISICAL_AUTH_SECRET=replaceWithBase64Secret
INFISICAL_DB_PASSWORD=changeMeAlphanumericOnly
INFISICAL_SITE_URL=https://secrets.carlosjg.space
INFISICAL_DB_DATA_LOCATION=/srv/data/media/infisical/postgres
NGINX_BITWARDEN_PORT=18081
NGINX_INFISICAL_PORT=18082
TZ=America/Santiago
