IMMICH_VERSION=v2
IMMICH_BIND_IP=127.0.0.1
IMMICH_HTTP_PORT=2283
UPLOAD_LOCATION=/srv/data/media/immich/app
DB_DATA_LOCATION=/srv/data/media/immich/postgres
DB_PASSWORD=changeMeAlphanumericOnly
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
COUCHDB_USER=admin
COUCHDB_PASSWORD=changeMe
NGINX_BIND_IP=0.0.0.0
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
TZ=America/Santiago
