IMMICH_VERSION=v2
IMMICH_BIND_IP=127.0.0.1
IMMICH_HTTP_PORT=2283
UPLOAD_LOCATION=/srv/data/media/immich/app
DB_DATA_LOCATION=/srv/data/media/immich/postgres
DB_PASSWORD=changeMeAlphanumericOnly
DB_USERNAME=postgres
DB_DATABASE_NAME=immich
COUCHDB_USER=admin
COUCHDB_PASSWORD=changeMe
WIKIJS_BIND_IP=127.0.0.1
WIKIJS_HTTP_PORT=3000
WIKIJS_DB_DATA_LOCATION=/srv/data/media/wiki/postgres
WIKIJS_DB_USER=wikijs
WIKIJS_DB_PASSWORD=changeMe
WIKIJS_DB_NAME=victus_documentation
NGINX_BIND_IP=0.0.0.0
NGINX_HTTP_PORT=80
NGINX_HTTPS_PORT=443
NGINX_WIKI_PORT=13000
TZ=America/Santiago
